@import url("https://fonts.googleapis.com/css2?family=Ubuntu+Mono&display=swap");

body {
  font-family: "Ubuntu Mono", monospace;
  background-image: linear-gradient(
    68.4deg,
    rgba(99, 251, 215, 1) -0.4%,
    rgba(5, 222, 250, 1) 100.2%
  );
  background-repeat: no-repeat;
  height: 100%;
  background-attachment: fixed;
}

button {
  font-family: "Ubuntu Mono", monospace;
}
